form {
	margin: 10px;
	padding: 10px 20px;
	background: #123;
	border-radius: 10px;
	box-shadow: #223 0 0 8px;
	display: flex;
	justify-content: space-between;
}

.form-fields {
	padding: 10px 20px;
}

label {
	font-size: 36px;
	font-weight: bolder;
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}